*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
/app/build/
/app/release/
/baselineprofile/build/

# Release signing (see keystore.properties.example)
keystore.properties
*.jks
*.keystore
